body {
  background-color: rgb(70, 70, 100);
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

button {
  background-color: rgb(25, 25, 40);
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: color, background-color, letter-spacing;
}
button:hover, button:focus {
  outline: none;
  background-color: white;
  color: black;
  letter-spacing: 0.5px;
  box-shadow: inset 0 0 1px white, 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}

button.highlighted {
  background-color: rgb(90, 80, 40);
}
button.highlighted:hover, button.highlighted:focus {
  background-color: rgb(140, 120, 60);
  color: white;
}

input {
  background-color: rgb(60, 60, 80);
  border: 2px solid rgb(25, 25, 40);
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: color, background-color, letter-spacing;
}
input:hover, input:focus {
  outline: none;
  background-color: white;
  color: black;
  letter-spacing: 0.5px;
  box-shadow: inset 0 0 1px white, 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
input:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}

select {
  background-color: rgb(25, 25, 40);
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: color, background-color, letter-spacing;
}
select:hover, select:focus {
  outline: none;
  background-color: white;
  color: black;
  letter-spacing: 0.5px;
  box-shadow: inset 0 0 1px white, 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
select:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dialog {
  background-color: rgb(40, 40, 60);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dialog.floating {
  background-color: rgb(40, 40, 60);
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s;
}

.dialog.error {
  background-color: rgb(100, 20, 20);
}

.dialog.item-reveal {
  background-color: rgb(140, 80, 0);
}

.dialog.item-reveal.correct {
  background-color: rgb(60, 130, 50);
}

.dialog.item-reveal.victory {
  background-color: rgb(120, 110, 20);
}

.background-box {
  background-color: rgb(40, 40, 60);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  padding: 10px;
}

.background-box.alert {
  background-color: rgb(100, 20, 20);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.table-row {
  display: flex;
  gap: 5px;
}

.table-header-box {
  background-color: rgb(25, 25, 40);
  padding: 5px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.table-body-box {
  background-color: rgb(60, 60, 80);
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table-body-box.self {
  background-color: rgb(60, 80, 80);
}

.table-body-box.winner {
  background-color: rgb(80, 80, 60);
}

.table-body-box.yes {
  background-color: rgb(60, 130, 50);
}

.table-body-box.no {
  background-color: rgb(130, 50, 50);
}

.table-body-box.maybe {
  background-color: rgb(140, 80, 0);
}

.table-body-box.unknown {
  background-color: rgb(80, 80, 80);
}
