body {
  background-color: rgb(70, 70, 100);
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

button {
  background-color: rgb(60, 60, 100);
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(25, 25, 40);
  padding: 5px 10px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: color, background-color;
}
button:hover, button:focus {
  outline: none;
  background-color: white;
  color: black;
}
button.highlighted {
  background-color: rgb(100, 100, 60);
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(25, 25, 40);
  padding: 5px 10px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: color, background-color;
}
button.highlighted:hover, button.highlighted:focus {
  outline: none;
  background-color: white;
  color: black;
}

input, select {
  background-color: rgb(60, 60, 80);
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(25, 25, 40);
  padding: 5px 10px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: color, background-color;
}
input:hover, input:focus, select:hover, select:focus {
  outline: none;
  background-color: white;
  color: black;
}

form {
  display: flex;
  gap: 5px;
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(40, 40, 60);
  border-radius: 10px;
  padding: 10px;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  align-items: center;
  box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.5);
  position: fixed;
  left: 50%;
  top: -100%;
  transition: top 0.5s;
}
.dialog.true {
  top: 50%;
}

.background-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(40, 40, 60);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}

.dark-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(25, 25, 40);
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.table-row {
  display: flex;
  gap: 5px;
}

.table-header-box {
  background-color: rgb(25, 25, 40);
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.table-body-box {
  background-color: rgb(60, 60, 80);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
