$primary_color: rgb(40, 40, 60);
$secondary_color: rgb(25, 25, 40);
$tertiary_color: rgb(60, 60, 80);
$shadow_color: rgba(black, 0.12);

$size_small: 5px;
$size_large: 10px;

body {
    background-color: rgb(70, 70, 100);
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 20px;
}

@mixin interactive-element {
    color: white;
    border-radius: $size_small;
    border: 2px solid $secondary_color;
    padding: $size_small $size_large;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: color, background-color;
    &:hover,
    &:focus {
        outline: none;
        background-color: white;
        color: black;
        box-shadow: inset 0 0 1px white, 0 1px 3px $shadow_color, 0 1px 2px rgba($shadow_color, 0.24);
    }
    &:active {
        box-shadow: inset 0 1px 3px $shadow_color, inset 0 1px 2px rgba($shadow_color, 0.24);
    }
}

button {
    background-color: rgb(60, 60, 100);
    @include interactive-element;
    &.highlighted {
        background-color: rgb(100, 100, 60);
        &:hover,
        &:focus {
            background-color: white;
            color: black;
        }
    }
}

input,
select {
    background-color: $tertiary_color;
    @include interactive-element;
}

@mixin flex-column($gap: $size_small) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin box-style($color, $radius, $padding) {
    background-color: $color;
    border-radius: $radius;
    padding: $padding;
}

.dialog {
    @include box-style($primary_color, $size_large, $size_large);
    @include flex-column($size_large);
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s;
    align-items: center;
    box-shadow: 0 1px 2px rgba($shadow_color, 0.24);
}

.background-box {
    @include box-style($primary_color, $size_large, $size_large);
    @include flex-column;
    box-shadow: 0 1px 2px rgba($shadow_color, 0.24);
}

.dark-box {
    @include box-style($secondary_color, $size_small, $size_large);
    @include flex-column;
    font-weight: bold;
    text-align: center;
}

.table-row {
    display: flex;
    gap: $size_small;
}

.table-header-box {
    @include box-style($secondary_color, $size_small, $size_small);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.table-body-box {
    @include box-style($tertiary_color, $size_small, $size_small);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: $size_small;
}
