$primary_color: rgb(40, 40, 60);
$secondary_color: rgb(25, 25, 40);
$tertiary_color: rgb(60, 60, 80);
$shadow_color: rgba(black, 0.12);

$size_small: 5px;
$size_large: 10px;

body {
    background-color: rgb(70, 70, 100);
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 20px;
}

@mixin interactive-element($bg_color) {
    background-color: $bg_color;
    color: white;
    border-radius: $size_small;
    border: 2px solid $secondary_color;
    padding: $size_small $size_large;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: color, background-color;
    &:hover,
    &:focus {
        outline: none;
        background-color: white;
        color: black;
    }
}

button {
    @include interactive-element(rgb(60, 60, 100));
    &.highlighted {
        @include interactive-element(rgb(100, 100, 60));
    }
}

input,
select {
    @include interactive-element($tertiary_color);
}

@mixin flex-column($gap, $color, $radius, $padding) {
    display: flex;
    flex-direction: column;
    gap: $gap;
    @include box-style($color, $radius, $padding);
}

@mixin box-style($color, $radius, $padding) {
    background-color: $color;
    border-radius: $radius;
    padding: $padding;
}

.dialog {
    @include flex-column($size_large, $primary_color, $size_large, $size_large);
    border: 2px solid white;
    transform: translate(-50%, -50%);
    align-items: center;
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.5);
    position: fixed;
    left: 50%;
    top: -100%;
    transition: top 0.5s;
    &.true {
        top: 50%;
    }
}

.background-box {
    @include flex-column($size_small, $primary_color, $size_large, $size_large);
    box-shadow: 0 1px 2px rgba($shadow_color, 0.24);
}

.dark-box {
    @include flex-column($size_small, $secondary_color, $size_small, $size_large);
    font-weight: bold;
    text-align: center;
}

.table-row {
    display: flex;
    gap: $size_small;
}

.table-header-box {
    @include box-style($secondary_color, $size_small, $size_small);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.table-body-box {
    @include box-style($tertiary_color, $size_small, $size_small);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $size_small;
}
